<main>
	<h1 class='boxTitle'>Podsumowanie zamówienia</h1>

	<div id='confirmation-panel'>
		<div id='leftSummaryBox'>
			<h3 class='offerTitle'>{{ offerDataArray.short_description }}</h3>
			<div id='offerDetailTitles'>
				Adres oferty:
				<br />
				Cena za wynajem:
				<br />
				Opłata serwisowa:
				<br />
				<br />
				<h3>Do zapłaty: </h3>
			</div>
			<div id='offerDetailValues'>
				<span id='offerAddress'>{{ offerDataArray.address }}</span>
				<br />
				<span id='offerPrice'> {{ price }} zł</span>
				<br />
				<span id='offerServicePrice'> {{ servicePrice }} zł</span>
				<br /><br />
				<span id='totalAmount'><h3> {{ totalPrice }} zł</h3></span>
			</div>
		</div>

		<form method='POST' action='/confirmation'>
			<div id='rightSummaryBox'>
				<h3 class='offerTitle'>Informacje o płatności</h3>
				Imię i nazwisko na karcie
				<br />
				<input class='first' type='text' name='name' placeholder='Jan Kowalski' required/>
				<br />
				Numer karty
				<br />
				<input
					name='phone'
					type='tel'
					inputmode='numeric'
					pattern='[0-9\s]{13,19}'
					maxlength='19'
					placeholder='0000 0000 0000 0000'
					required
				/>
				<br />
				Kod CVV
				<br />
				<input class='first' type='text' name='cvv' placeholder='123' required/>
				<br />
				<input id='confirmation-button' type='submit' value='Przejdź dalej' />
			</div>
		</form>
	</div>
</main>