<main>

    <div class="panel my_offers-panel">
        <h1> Twoje oferty</h1>

        {{#if offers}}
        {{#each offers}}
        <div class="offer">
            <img src="{{this.interior_1}}" alt="">
            <div class="offer-label">
                <div class="bold-text-label">{{this.name}}</div>
                <div class="small-text-label">{{this.address}}</div>
                <div class="small-text-label">{{this.phone_number}}</div>
            </div>
            <div class="offer-label">
                <form action="/my_offers" method="POST">
                    <input style="display:none !important;" type="text" name="offer_id" value="{{this.offer_id}}">
                    <button class="standard-button" type="submit" role="button">Usuń ofertę</button>
                </form>
            </div>
        </div>
        {{/each}}
        {{else}}
            </br>
            <h3> Nie dodałeś jeszcze żadnych ofert, kliknij w poniższy przycisk aby utworzyć swoje pierwsze ogłoszenie! <h3>
        {{/if}}
        </br></br>
        <div style=" display: flex; justify-content: center; align-items: center height: 100px;">
            <button class="standard-button" role="button" id="home_button" onclick="location.href='/new_offer';" style="m">Dodaj nową ofertę</button>
        </div>
    </div>
</main>

