<main>
    <div class="flex-row">
        <div class="panel left-panel">
            <div class="flex-column">
                <h1 style="margin-bottom: 0">{{offerData.short_description}}</h1>
                <h3>{{offerData.address}}</h3>
                <div class="flex-row">
                    <div class="flex-row half-width">
                        <div class="big-picture" id="bigPicture"></div>
                    </div>

                    <div class="flex-column">
                        <div class="flex-row">
                            <div class="small-picture"></div>
                            <div class="small-picture"></div>
                            <div class="small-picture"></div>
                            <div class="small-picture"></div>
                        </div>
                        <br />
                        <div>
                            <div>
                                <div class="options-grid">
                                    <div class="horizontal-box">
                                        <div class="small-text-label">Parking: </div>
                                        <input type="checkbox" {{#if offerData.parking}}checked="">{{/if}}
                                        <span class="checkmark"></span>
                                    </div>

                                    <div class="horizontal-box">
                                        <div class="small-text-label">Zwierzęta: </div>
                                        <input type="checkbox" {{#if offerData.zwierzeta}}checked="">{{/if}}
                                        <span class="checkmark"></span>
                                    </div>

                                    <div class="horizontal-box">
                                        <div class="small-text-label">Internet: </div>
                                        <input type="checkbox" {{#if offerData.internet}}checked="">{{/if}}
                                        <span class="checkmark"></span>
                                    </div>

                                    <div class="horizontal-box">
                                        <div class="small-text-label">Balkon: </div>
                                        <input type="checkbox" {{#if offerData.balkon}}checked="">{{/if}}
                                        <span class="checkmark"></span>
                                    </div>

                                    <div class="horizontal-box">
                                        <div class="small-text-label">Cisza nocna: </div>
                                        <input type="checkbox" {{#if offerData.cisza_nocna}}checked="">{{/if}}
                                        <span class="checkmark"></span>
                                    </div>

                                    <div class="horizontal-box">
                                        <div class="small-text-label">Telewizja: </div>
                                        <input type="checkbox" {{#if offerData.telewizja}}checked="">{{/if}}
                                        <span class="checkmark"></span>
                                    </div>

                                    <div class="horizontal-box">
                                        <div class="small-text-label">Łazienka: </div>
                                        <input type="checkbox" {{#if offerData.lazienka}}checked="">{{/if}}
                                        <span class="checkmark"></span>
                                    </div>

                                    <div class="horizontal-box">
                                        <div class="small-text-label">Taras: </div>
                                        <input type="checkbox" {{#if offerData.taras}}checked="">{{/if}}
                                        <span class="checkmark"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="flex-row">
                            {{#times offerData.stars}}
                                <span class="five-pointed-star"></span>
                            {{/times}}
                            {{#times takenStars}}
                                <span class="five-pointed-star-dark"></span>
                            {{/times}}                            
                        </div>
                    </div>
                </div>
                <div class="flex-column half-width">
                </div>

                <h3>Komentarze</h3>
                {{#each comments}}
                <div class="flex-column comment">
                    <h4>{{this.nick}}</h4>
                    <div>{{this.comment}}</div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="panel right-panel">
            <div class="flex-column">
                <h1>{{offerData.price}} zł</h1>
                <form  method="POST" action="/offer_preview">
                    <div class="flex-row">
                        <input class="small-margin half-width" name="startDate" type="date" />
                        <input class="small-margin half-width" name="endDate" type="date" />
                    </div>
                    <h2>Goście</h2>
                    <select name="guests" name="guests-count" id="cars" class="small-text-label small-margin fill-all-space">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <br />
                    <br />
                    <div class="flex-row space-between">
                        <a class="btn small-margin fill-all-space" role="button" href="/contact">Kontakt</a>
                        <a class="btn small-margin fill-all-space" role="button" href="/report">Zgłoś</a>
                    </div>
                    <button class="btn small-margin fill-all-space" type="submit" role="button">Rezerwuj</button>

                </form>
            </div>
        </div>
    </div>
</main>

<script>
    const bigPicture = document.getElementById("bigPicture");
    const smallPictures = document.getElementsByClassName("small-picture");
    for (let picture of smallPictures) {
        picture.addEventListener('click', () => {
            const color = getComputedStyle(picture).backgroundColor;
            bigPicture.style.backgroundColor = color;
        })
    }
</script>