<main>

	<div class='panel reservation-panel'>
		<h1> Twoje rezerwacje</h1>
		{{#if myOffers}}
		{{#each myOffers}}
			<div class='offer'>
				<img src='{{this.imgPath}}' alt='' />
				<div class='offer-label'>
					<div
						class='bold-text-label'
					>{{this.title}}</div>
					<div class='small-text-label'>{{this.address}}</div>
					<!-- <div class='small-text-label'>{{this.phone_number}}</div> -->
				</div>
				<div class='offer-label'>
					<div>
						<button
							class='standard-button'
							role='button'
							onclick="location.href='/accommodation_report'"
						>
							Zgłoś problem
						</button>
					</div>
					<div style='padding: 10px;'>
						<button
							class='standard-button'
							role='button'
							onclick="location.href='/review'"
						>
							Oceń
						</button>
					</div>
				</div>
			</div>
		{{/each}}
		{{else}}
			</br>
            <h3> Nie posiadasz jeszcze ani jednej rezerwacji. Kliknij w poniższy przycisk aby znaleźć miejsce pobytu dopasowane do twoich potrzeb. <h3>
		    </br></br>
        	<div style=" display: flex; justify-content: center; align-items: center height: 100px;">
            <button class="standard-button" role="button" id="home_button" onclick="location.href='/';" style="m">Przejdź do wyszukiwania</button>
        </div>
		{{/if}}

	</div>
</main>