<div class='sort'>
	<button class='standard-button' role='button'>Sortowanie ↓</button>
	<div class='sort-links'>
		<ul>
			<li><a href='#'>Najwyższa cena</a></li>
			<li><a href='#'>Najniższa cena</a></li>
			<li><a href='#'>Najwyższa ocena</a></li>
			<li><a href='#'>Najniższa ocena</a></li>
		</ul>
	</div>
</div>

<main class='search-results-over'>
    {{#each offer}}
	<div class='search-results-single'>
		<a href='/offer_preview/id={{this.id}}' class='search-result'>
			<img src='{{this.path}}' alt='house' />
			<div class='search-result-props'>
				<p>{{this.house_name}}</p>
				<p>{{this.price}}</p>
				<p>{{this.location}}</p>
				<p>{{this.review}}</p>
			</div>
		</a>
	</div>
    {{/each}}
</main>