<div class='sort'>
	<button class='standard-button' role='button'>Sortowanie ↓</button>
	<div class='sort-links'>
		<ul id="sort-menu-li">
			<li><a id="hi-price">Najwyższa cena</a></li>
			<li><a id="lo-price">Najniższa cena</a></li>
			<li><a id="hi-rate">Najwyższa ocena</a></li>
			<li><a id="lo-rate">Najniższa ocena</a></li>
		</ul>
	</div>
</div>

<main class='search-results-over'>
    {{#each offer}}
	<div class='search-results-single'>
		<a href='/offer_preview/id={{this.id}}' class='search-result'>
			<img src='{{this.path}}' alt='house' />
			<div class='search-result-props'>
				<p>{{this.house_name}}</p>
				<p id="price">{{this.price}}</p>
				<p>{{this.location}}</p>
				<p id="review">{{this.review}}</p>
			</div>
		</a>
	</div>
    {{/each}}
</main>
<script src="./public/scripts/sort_button.js" defer></script>